{% autoescape off %}

<!DOCTYPE html>
<html>

<head>
    <style>
        .email-footer {
            font-size: 12px;
            color: #777777;
        }

        a {
            color: #0066cc;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <div class="email-footer">
        <div>
            <div dir="ltr" class="gmail_signature" data-smartmail="gmail_signature">
                <div dir="ltr">
                    <table
                        style="color:rgb(25,28,43);font-family:Mulish,sans-serif;font-size:16px;direction:ltr;border-collapse:collapse">
                        <tbody>
                            <tr>
                                <td style="font-size:0px;height:12px;line-height:0px"></td>
                            </tr>
                            <tr>
                                <td>
                                    <table cellpadding="0" cellspacing="0" border="0" width="100%" style="width:329px">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <table cellpadding="0" cellspacing="0"
                                                        style="border-collapse:collapse;line-height:1.15">
                                                        <tbody>
                                                            <tr>
                                                                <td valign="top"
                                                                    style="padding:0.01px 0.01px 0.01px 0px;vertical-align:top">
                                                                    <table cellpadding="0" cellspacing="0"
                                                                        style="border-collapse:collapse">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="padding:0.01px">
                                                                                    <p
                                                                                        style="margin:0.1px;line-height:19.2px">
                                                                                        <span
                                                                                            style="font-weight:bold;letter-spacing:0px">
                                                                                            <font color="#000000"
                                                                                                face="comic sans ms, sans-serif">
                                                                                                Engineering Department
                                                                                            </font>
                                                                                        </span><br><span
                                                                                            style="color:rgb(100,100,100);font-size:13px"><b>
                                                                                                <font
                                                                                                    face="comic sans ms, sans-serif">
                                                                                                    gh_bball Philippines
                                                                                                </font>
                                                                                            </b></span></p>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <table cellpadding="0"
                                                                                        cellspacing="0"
                                                                                        style="border-collapse:collapse">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td nowrap=""
                                                                                                    width="329"
                                                                                                    style="padding-top:14px;width:329px;font-family:Arial">
                                                                                                    <p
                                                                                                        style="margin:1px;line-height:10.89px;font-size:11px">
                                                                                                        <br></p>
                                                                                                    <p
                                                                                                        style="margin:1px;line-height:10.89px">
                                                                                                        <font size="2">
                                                                                                            <img src="https://ci3.googleusercontent.com/mail-sig/AIorK4xg77k__jUvGrMdFluT9Hq9dUAOFslpUm8kyeC-i92NBAvkSqJIfdipTdJzUkzSSCbL7lozum0"
                                                                                                                class="CToWUd"
                                                                                                                data-bit="iit">:&nbsp;<a
                                                                                                                href="mailto:admin@gh_bball.com"
                                                                                                                rel="nofollow noreferrer"
                                                                                                                style="text-decoration:unset"
                                                                                                                target="_blank"><span
                                                                                                                    style="line-height:13.2px;color:rgb(33,33,33)">admin@gh_bball.com</span></a>
                                                                                                        </font>
                                                                                                    </p><span
                                                                                                        class="im">
                                                                                                        <p
                                                                                                            style="margin:1px;line-height:10.89px">
                                                                                                            <font
                                                                                                                size="2">
                                                                                                                <img src="https://ci3.googleusercontent.com/mail-sig/AIorK4ykzW7P-4TZ34sU6-BcNGD9lXnyistZPpcL1UGHBOQC9FjgIPZNJlIim1GtIBs5oGBWfKi_b60"
                                                                                                                    class="CToWUd"
                                                                                                                    data-bit="iit">:&nbsp;<a
                                                                                                                    href="https://gh_bballtrading.com/"
                                                                                                                    target="_blank"
                                                                                                                    data-saferedirecturl="https://www.google.com/url?q=https://gh_bballtrading.com/&amp;source=gmail&amp;ust=1703295572027000&amp;usg=AOvVaw1vycFtjj_K5EaAiC9nGdNF">https://gh_bballtrading.com</a>
                                                                                                            </font>
                                                                                                        </p>
                                                                                                        <p
                                                                                                            style="margin:1px;line-height:10.89px">
                                                                                                            <font
                                                                                                                size="2">
                                                                                                                <img src="https://ci3.googleusercontent.com/mail-sig/AIorK4x2km59tK2WJY87rDZVxKO17htzBuv4_pvctdmLL_WClnRUv5r7YY-YWKkkBha0q-THE3vHeSc"
                                                                                                                    class="CToWUd"
                                                                                                                    data-bit="iit">:
                                                                                                                    153 Banawe St, Quezon City, 1113 Metro Manila
                                                                                                            </font>
                                                                                                        </p>
                                                                                                        <p
                                                                                                            style="margin:1px;line-height:10.89px">
                                                                                                            <font
                                                                                                                size="2">
                                                                                                                <br>
                                                                                                            </font>
                                                                                                        </p>
                                                                                                        <p
                                                                                                            style="margin:1px;line-height:10.89px;font-size:11px">
                                                                                                            <br></p>
                                                                                                        <p
                                                                                                            style="margin:1px;line-height:10.89px;font-size:11px">
                                                                                                            <br></p>
                                                                                                    </span>
                                                                                                    <p
                                                                                                        style="margin:1px;line-height:10.89px;font-size:11px">
                                                                                                        <a href="https://www.linkedin.com/company/gh_bballtrading/"
                                                                                                            target="_blank"
                                                                                                            data-saferedirecturl="https://www.google.com/url?q=https://www.linkedin.com/company/gh_bballtrading/&amp;source=gmail&amp;ust=1703295572028000&amp;usg=AOvVaw0ZAfhqk8zChGRWcf4qZ72Z"><img
                                                                                                                src="https://ci3.googleusercontent.com/mail-sig/AIorK4xtQPjTYsy08bDF_nlUUNj9pO4rNLoufZj8InRVy1RLBGnF8-T9V1BKyk70X-BLgV9cqE7tQmY"
                                                                                                                class="CToWUd"
                                                                                                                data-bit="iit"></a>&nbsp;<a
                                                                                                            href="https://www.facebook.com/gh_bballtrading"
                                                                                                            target="_blank"
                                                                                                            data-saferedirecturl="https://www.google.com/url?q=https://www.facebook.com/gh_bballtrading&amp;source=gmail&amp;ust=1703295572028000&amp;usg=AOvVaw0VAx4184Bd9n0KQIoKw-rP"><img
                                                                                                                style="font-size:16px"
                                                                                                                src="https://ci3.googleusercontent.com/mail-sig/AIorK4xx1eEhgGErLyXhNeWJiXFeix2xxS46rJB4cfg9x2Ftk3yh4MpwMb2lUzo_tILw_NbyDAZvORY"
                                                                                                                class="CToWUd"
                                                                                                                data-bit="iit"></a>&nbsp;<a
                                                                                                            href="https://www.instagram.com/gh_bball/"
                                                                                                            target="_blank"
                                                                                                            data-saferedirecturl="https://www.google.com/url?q=https://www.instagram.com/gh_bball/&amp;source=gmail&amp;ust=1703295572028000&amp;usg=AOvVaw0lMQFCkAfPi6yR8kQ4IRMh"><img
                                                                                                                style="font-size:16px"
                                                                                                                src="https://ci3.googleusercontent.com/mail-sig/AIorK4ywEokOB1-deLUxhr8t-VLEOSgTOc0rcFraMzHDsGV3tIgxvByYnyqRCDVmkUYcdfjobAzIpwo"
                                                                                                                class="CToWUd"
                                                                                                                data-bit="iit"></a>&nbsp;<a
                                                                                                            href="https://www.tiktok.com/@gh_bball"
                                                                                                            target="_blank"
                                                                                                            data-saferedirecturl="https://www.google.com/url?q=https://www.tiktok.com/@gh_bball&amp;source=gmail&amp;ust=1703295572028000&amp;usg=AOvVaw3c7nqUhU7RyY0_BF8tGidC"><img
                                                                                                                src="https://ci3.googleusercontent.com/mail-sig/AIorK4xXON_zDB4NkDQQijOSyATNtZmpus1p0wDAa3-r4GBzXNHp31C3f61TvBYI7dDM0RsvwNCzzt4"
                                                                                                                class="CToWUd"
                                                                                                                data-bit="iit"></a>&nbsp;<a
                                                                                                            href="https://twitter.com/PH_gh_bball"
                                                                                                            target="_blank"
                                                                                                            data-saferedirecturl="https://www.google.com/url?q=https://twitter.com/PH_gh_bball&amp;source=gmail&amp;ust=1703295572028000&amp;usg=AOvVaw3oVtr8L5SS49rq1KA2BY3m"><img
                                                                                                                src="https://ci3.googleusercontent.com/mail-sig/AIorK4zEPU-dS1kxI6EnU0nR-1amhzewjRNcpHojjb-FzUEBddP1BeGZiD8ktlSIfoRJFvgyPXE8MPg"
                                                                                                                class="CToWUd"
                                                                                                                data-bit="iit"></a>
                                                                                                    </p>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

{% endautoescape %}